#Zadanie 1

##Utwórz kopię pliku na swoim dysku google. Zmień nazwę na R_Zadanie_1_imię_nazwisko.jpynb

Analiza dotyczy zbioru danych, który zawiera informacje na temat batonów czekoladowych.\
Zmiennne:
* nazwa firmy produkującej batony czekoladowe
* pochodzenie ziaren kakaowych lub nazwa batonu
* numer referencyjny
* rok przeglądu
* procentowa zawartość kako w czekoladzie
* lokalizacja firmy produkującej czekoladę
* ocena batonu czekoladowego
* pochodzenie ziaren kakaowca

System oceny smaków kakao:\
5= Elita (Przekraczanie poza zwykłe granice)\
4= Premium (Doskonały rozwój smaku, charakteru i stylu)\
3 = zadowalający (3,0) do godnego pochwały (3,75) (dobrze wykonany, o specjalnych właściwościach)\
2= Rozczarowujący (Zadowalający, ale zawiera co najmniej jedną istotną wadę)\
1= Nieprzyjemny (przeważnie niesmaczny)\
REF – wartość powiązana z datą wprowadzenia recenzji do bazy danych. Wyższy = nowszy.

##Wczytaj zbiór danych znajdujący sie pod adresem:
https://raw.githubusercontent.com/clauswilke/dviz.supp/master/data-raw/cacao/flavors_of_cacao.csv

In [1]:
# z url
url = "https://raw.githubusercontent.com/clauswilke/dviz.supp/master/data-raw/cacao/flavors_of_cacao.csv"
df2 = read.csv(url)
head(df2,6)

  Company...Maker.if.known. Specific.Bean.Origin.or.Bar.Name REF  Review.Date
1 A. Morin                  Agua Grande                      1876 2016
2 A. Morin                  Kpime                            1676 2015
3 A. Morin                  Atsane                           1676 2015
4 A. Morin                  Akata                            1680 2015
5 A. Morin                  Quilla                           1704 2015
6 A. Morin                  Carenero                         1315 2014
  Cocoa.Percent Company.Location Rating Bean.Type Broad.Bean.Origin
1 63%           France           3.75             Sao Tome
2 70%           France           2.75             Togo
3 70%           France           3.00             Togo
4 70%           France           3.50             Togo
5 70%           France           3.50             Peru
6 70%           France           2.75   Criollo   Venezuela

## Zaimportuj pakiet Tidiverse

In [2]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

## Przygotowanie danych

Wczytaj dane zmieniając nazwy kolumn na:\
'Company', 'Specific_Bean_Origin_or_Bar_Name', 'REF','Review_Date', 'Cocoa_Percentage', 'Company_Location','Rating', 'Bean_Type', 'Broad_Bean_Origin'

In [3]:
names(df2) = c('Company', 'Specific_Bean_Origin_or_Bar_Name', 'REF','Review_Date', 'Cocoa_Percentage', 'Company_Location','Rating', 'Bean_Type', 'Broad_Bean_Origin')

Wyświtl "kształt" zbioru - liczba wierszy i kolumn

In [4]:
cat("Liczba kolumn: ", ncol(df2), "\n")
cat("Liczba wierszy: ", nrow(df2), "\n")

Liczba kolumn:  9
Liczba wierszy:  1795

Wyświetl strukturę zbioru danych (nazwy zmiennych
, typ danych, ...)

In [5]:
str(df2)

'data.frame':	1795 obs. of  9 variables:
 $ Company                         : chr  "A. Morin" "A. Morin" "A. Morin" "A. Morin" ...
 $ Specific_Bean_Origin_or_Bar_Name: chr  "Agua Grande" "Kpime" "Atsane" "Akata" ...
 $ REF                             : int  1876 1676 1676 1680 1704 1315 1315 1315 1319 1319 ...
 $ Review_Date                     : int  2016 2015 2015 2015 2015 2014 2014 2014 2014 2014 ...
 $ Cocoa_Percentage                : chr  "63%" "70%" "70%" "70%" ...
 $ Company_Location                : chr  "France" "France" "France" "France" ...
 $ Rating                          : num  3.75 2.75 3 3.5 3.5 2.75 3.5 3.5 3.75 4 ...
 $ Bean_Type                       : chr  " " " " " " " " ...
 $ Broad_Bean_Origin               : chr  "Sao Tome" "Togo" "Togo" "Togo" ...

Usuń znak "%" w zmiennej procent Cocoa_Percentage - ustaw odpowiednio typ danej

In [6]:
df2$Cocoa_Percentage <- as.integer(gsub("%", "", df2$Cocoa_Percentage))
head(df2$Cocoa_Percentage,6)

[1] 63 70 70 70 70 70

Sprawdź ile jest braków w zbiorze danych

In [26]:
# Znajdowanie braków danych w każdej kolumnie
missing_values <- sum(sapply(df2, function(x) {
  if (is.character(x)) {
    sum(is.na(x) | x == "" | !grepl("[a-zA-Z]", x))
  } else {
    sum(is.na(x) | x == "")
  }
}))

# Wyświetlenie liczby braków danych dla każdej kolumny
print(missing_values)

[1] 962

Wyświetl nazwy kolumn, w których występują braki

In [28]:
# Znajdowanie braków danych w każdej kolumnie
missing_values <- sapply(df2, function(x) {
  if (is.character(x)) {
    sum(is.na(x) | x == "" | !grepl("[a-zA-Z]", x))
  } else {
    sum(is.na(x) | x == "")
  }
})

# Wyświetlenie liczby braków danych dla każdej kolumny
print(missing_values[missing_values>0])

        Bean_Type Broad_Bean_Origin
              888                74

Usun cały wiersz, dla którego zmienna Broad_Bean_Origin zawiera brakujące dane

In [30]:
df2 <- df2[!is.na(df2$Broad_Bean_Origin) & df2$Broad_Bean_Origin != "" & grepl("[a-zA-Z]", df2$Broad_Bean_Origin), ]

Wykonaj tabelę liczności dla zmiennej Bean_Type

In [33]:
bean_type_table <- table(df2$Bean_Type)
print(bean_type_table)

                  Amazon               Amazon mix              Amazon, ICS
                       1                        2                        2
                 Beniano                    Blend  Blend-Forastero,Criollo
                       3                       21                        1
                   CCN51                  Criollo         Criollo (Amarru)
                       1                      152                        2
    Criollo (Ocumare 61)     Criollo (Ocumare 67)     Criollo (Ocumare 77)
                       2                        1                        1
       Criollo (Ocumare)      Criollo (Porcelana)           Criollo (Wild)
                       1                       10                        1
              Criollo, +       Criollo, Forastero      Criollo, Trinitario
                       1                        2                       39
                     EET                Forastero    Forastero (Amelonado)
                       3                       87                        1
      Forastero (Arriba)   Forastero (Arriba) ASS  Forastero (Arriba) ASSS
                      37                        6                        1
     Forastero (Catongo)     Forastero (Nacional)    Forastero (Parazinho)
                       2                       52                        8
   Forastero, Trinitario   Forastero(Arriba, CCN)                   Matina
                       1                        1                        3
                Nacional        Nacional (Arriba)               Trinitario
                       2                        3                      417
Trinitario (85% Criollo)   Trinitario (Amelonado)     Trinitario (Scavina)
                       2                        1                        1
     Trinitario, Criollo    Trinitario, Forastero     Trinitario, Nacional
                       9                        2                        1
        Trinitario, TCGA
                       1

Spróbuj wyfiltrowac "puste" komórki dla zmiennej Bean_Type i zamienić je na NA

In [38]:
# df2$Bean_Type[is.na(df2$Bean_Type) | df2$Bean_Type == "" | !grepl("[a-zA-Z]", df2$Bean_Type)] <- NA

# bean_type_table <- table(df2$Bean_Type)
# print(bean_type_table)

sum(is.na(df2$Bean_Type))

[1] 837

Usuń kolumnę Bean_Type

In [ ]:
df2$Bean_Type <- NULL
head(df2,3)

Dodaj do ramki danych nową kolumnę, która będzie zawierała informajce czy dana czekolada jest gorzka czy nie? W tym celu wykorzystaj zmienną Cocoa_Percentage.

In [ ]:
df2$Chocolate_Type <- ifelse(df2$Cocoa_Percentage <= 50, "Mleczna",
                              ifelse(df2$Cocoa_Percentage <= 70, "Deserowa", "Gorzka"))
head(df2,3)

## Zapisywanie plików

Wyczyszczoną ramkę danych zapisz do pliku csv o nazw new_cocoa_imie_nazwisko.csv. Pobierz plik na dysk i dołącz do zadania na upel razem z plikiem zaiwerającym wszystkie przeprowadzone analizy (R_Zadanie_1_imię_nazwisko.jpynb)

In [ ]:
write.csv(df2, file = "new_cocoa_Szymon_Dernoga.csv", row.names = FALSE)